.header {
	position: absolute;
	width: 100%;
	z-index: 50;

	// .header__container
	&__container {
		display: flex;
		align-items: center;
		min-height: 110px;

		@media (max-width: $mobile) {
			min-height: 80px;
		}
	}

	// .header__logo
	&__logo {
		position: relative;
		z-index: 5;

		@media (max-width: 400px) {
			flex: 0 0 35px;
			overflow: hidden;
		}
	}

	// .header__munu
	&__menu {


		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
	}

	// .header__button
	&__button {
		flex: 0 0 230px;
		display: flex;
		justify-content: flex-end;
		position: relative;
		z-index: 5;

		@media (max-width: $mobile) {
			flex: 0 0 150px;
			margin: 0px 15px 0px 0px;
		}
	}
}

.menu {


	// .menu__icon
	&__icon {
		display: none;

		@media (max-width: $mobile) {
			display: block;
			position: relative;
			width: 30px;
			height: 18px;
			cursor: pointer;
			z-index: 5;

			span,
			&::before,
			&::after {
				content: "";
				transition: all 0.3s ease 0s;
				left: 0px;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: $red;
			}

			&::before {
				top: 0px;
			}

			&::after {
				bottom: 0px;
			}

			span {
				top: calc(50% - 1px);
			}

			&._active {
				span {
					transform: scale(0);
				}

				&::before {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}

				&::after {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}

	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: rgb(119, 119, 119, );
			overflow: hidden;
			opacity: 0;
			overflow: auto;
			visibility: hidden;
			transition: all 0.3s ease 0s;

			&._active {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	// .menu__list
	&__list {
		display: flex;

		@media (max-width: $mobile) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 100px 0px 0px 0px;
		}
	}

	&__item {
		@include adaptiveValue(margin-right, 40, 20, 0);

		@media (max-width: $mobile) {
			margin: 0px 0px 40px 0px;

			&:last-child {
				margin: 0;
			}
		}
	}

	&__link {
		font-family: 'Raleway';
		color: #000;
		font-weight: 700;
		font-size: 10px;
		transition: all 0.3s ease 0s;
		text-transform: uppercase;

		@media (max-width: $mobile) {
			font-size: 15px;
			color: #fff;
		}

		&:hover {
			color: $red;
		}
	}
}