@import "null";
@import "base/mixins";

//======================================================================================================================================
$blue: #4285F4;
$red: #EC5863;
//======================================================================================================================================
$MinWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1080px;
// Брейк-поинты
$pc: em($maxWidthContainer); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S
//======================================================================================================================================
@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800);

body {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 12px;
	color: #616161;
}

//======================================================================================================================================
[class*="__container"] {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//======================================================================================================================================
@import "ui";
@import "header";
@import "home";
//======================================================================================================================================